body{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding-top: 70px;
}
.form-control-feedback{
  visibility: hidden;
}
.has-feedback .form-control-feedback{
  visibility: visible;
}
.btn-success{
  background-image: none;
  background-color: #5cb85c;
  border-color: #5cb85c;
  font-weight: bold;
}
.navbar{
  margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a.btn-success{
  color: #fff;
  text-transform: uppercase;
  padding: 10px 30px;
}
.navbar-header,
.navbar-default .navbar-nav>li>a.btn-success{
  margin: 10px auto;
}
.navbar-default .navbar-nav>li>a.btn-success:hover{
  background-image: none;
  background-color: #6bc25e ;
  border-color: #5cb85c;
}
h1, h2, h3, h3, h5, h6{
  font-weight: bold;
  font-family: 'Rokkitt', serif;
}
h1{
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 0;
  padding: 0 40px;
}
h2{
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 32px;
  padding: 0 30px;
}
.main-msg h2{
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0 40px;
}

.main-msg,
.benefits,
.testimonials,
.thank-you{
  background: #5cb85c;
  color: #fff;
}
.main-msg{
  background: #888 url(../images/register-darkened.jpg) no-repeat left top;
  background-size: cover;
  text-shadow: 2px 2px rgba(47, 47, 47, 0.8);
}
.section,
.outline{
  padding-top: 40px;
  padding-bottom: 40px;
}
.outline{
  margin-top: 30px; 
  margin-bottom: 30px;
  border:10px solid rgba(255, 255, 255, 0.5);
}
.main-msg p{
  font-size: 20px;
  padding: 0 40px;
}
.benefits ul,
.testimonials ul{
  list-style-type: none;
  padding: 0 2em;
  margin-bottom: 0;
}
.testimonials li{
  padding-bottom: 1em;
  margin-bottom: 30px;
}
.testimonials ul:last-child li{
  padding-bottom: 0;
  margin-bottom: 0;
}
.testimonials .quote{
  display: block;
  margin-bottom: 0.5em;
  font-size: 20px;
  widows: 2;
}
.testimonials .name{
  display: block;
  font-size: 16px;
}
.testimonials .location{
  display: block;
  font-size: 14px;
}
.has-photo .name,
.has-photo .location{
  margin-left: 75px;
  margin-left: 75px;
}
.has-photo .name{
  margin-top: 20px;
}
.testimonials .profile-pic{
  float: left;
  width: 60px;
  height: 60px;
}
.benefits li{
  background: url(../images/icon-happy-24.png) no-repeat;
  padding-left: 42px;
  margin-bottom: 1em;
}
.navbar-brand{
  background: url(../images/icon-happy-28-black.png) no-repeat left center;
  padding-left: 36px;
}
.start-now{
  background: #eee;
}
.invite-form .outline{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border:5px solid rgba(255, 255, 255, 1.0);
}
.invite-form h3{
  margin-top: 0;
  font-size: 30px;
}
.invite-form .btn-success{
  font-size: 20px;
  padding: 0.5em 1.5em;
}
.start-now .btn-success{
  text-transform: uppercase;
  font-weight: bold;
}
.we-wont-share{
  margin-top: 1em;
  font-size: 14px;
}

.header-image{
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  body{
    font-size: 14px;
    padding-top: 63px;
  }
  .navbar-nav{
    margin: 0 auto;
  }
  .main-msg img,
  .thank-you img{
    max-width: 25%;
  }
  h1{
    font-size: 28px;
    padding: 0 30px;
  }
  h2{
    font-size: 22px;
    margin-bottom: 32px;
  }
  .main-msg h2{
    font-size: 22px;
    margin-bottom: 1em;
  }
  .main-msg p{
    font-size: 16px;
    padding: 0 18px;
  }
  #invite-request{
    padding-left: 10px;
    padding-right: 10px;
  }
  .testimonials .quote{
    font-size: 16px;
  }
  .testimonials .name{
    font-size: 14px;
  }
  .testimonials .location{
    font-size: 12px;
  }
  .we-wont-share{
    margin-top: 1em;
    font-size: 12px;
  }
}
